[Unit]
Description=Simple Golang HTTP server
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=@PREFIX@/bin/go-simple-http-server /usr/bin/go-simple-http-server -www /usr/share/go-simple-http-server/www

[Install]
WantedBy=multi-user.target
